<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test143" connectionString="Server= den1.mssql8.gear.host;Initial Catalog= test143;User Id=test143;
Password=Sv05?N2H?XO4;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>